<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const updateTodoStatus = (id, completed) => {
      fetch(`/todos/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          "_csrf": token,
          "completed": completed
        }),
      })
        .then((data) => {
          window.location.reload();
        });
    }

    const deleteTodo = (id) => {
      fetch(`/todos/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          "_csrf": token
        }),
      })
        .then((data) => {
          window.location.reload();
        });
    }
  </script>
</head>

<body>
  <div class="flex justify-center">
    <div>
      <%- include('header.ejs') %>
        <p>
          Welcome to the Todo App!
        </p>
        <p>
          Signup : <a href="/signup">Signup</a>
        </p>
        <p>
          Login : <a href="/login">Login</a>
        </p>
    </div>
  </div>
</body>

</html>