body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

thead {
    background-color: #f2f2f2;
    border-bottom: #ddd 1px solid;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}